/* main text color #212121 */

/* secondary text color #757575 */

/* hero text;  footer Studio color & adress color #FFFFFF */

/* logo Web and accent color #2196F3 */

/* logo studio color #000000 */

/* footer contacts color rgba(255, 255, 255, 0.6) */

/* buttons $ section team background color #F5F4FA */

/* icons color #AFB1B8*/

/* hover overlay rgba(33, 150, 243, 0.9)*/

/* overlay bg color*/

/* modalform input border rgba(33,33,33,0.2) */

/* textarea text color*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --bg-color: #F5F4FA;
    --secondary-bg-color: #2F303A;
    --icons-color: #AFB1B8;
    --hover-overlay: rgba(33, 150, 243, 0.9);
    --timing-func: cubic-bezier(0.4, 0, 0.2, 1);
    --overlay-bg-color: rgba(47, 48, 58, 0.8);
    --modalinput-border-color: rgba(33, 33, 33, 0.2); 
    --textarea-text-color: rgba(117,117,117,0.5);

}


body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    margin: 0px;
 
}

ul {
    list-style: none;
}

button {
    font-family: inherit;
}

* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

img {
    display: block;
}

.container {
    margin: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/* site logo */




/* site nav */



/* hero */

/* sections */


/* features list */






/* Footer */



/*.hero-button.submit:hover .iconsend,
.hero-button.submit:focus .iconsend {
  background-color: var(--bg-color);
  color: var(--accent-color);
}*/



/*.iconsend:hover,
.iconsend:focus {
    fill: var(--accent-color);
}*/


/* styles for portfolio */



/*modal*/
