.accent {
    font-family: Raleway, sans-serif;
    color: $accent-color;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
}

.header-logo {
    font-family: Raleway, sans-serif;
    color: $primary-text-color;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    
}