.our-job {
  padding: 0 0 94px;
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.job-list {
  display: flex;
  justify-content: space-between;
}

.job-item {
  position: relative;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 27px 0;
    background-color: $overlay-bg-color;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $primary-white-color;
}



