.section-team {
  background-color: $bg-color;
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.team-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
}

.team-container {
    background:$primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.team-image {
  display: block;
  margin-bottom: 30px;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.employee-position {
  color: $secondary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.employee-social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.employee-social-item:not(:nth-child(4)) {
  margin-right: 10px;
}

.employee-link {
  display: flex;
  width: 44px;
  height: 44px;
  color: $icons-color;
  background-color: $primary-white-color;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms $timing-func;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.employee-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms $timing-func;
}

.employee-link:hover .employee-icon,
.employee-link:focus .employee-icon {
  fill: $primary-white-color;
}

